@{
    ViewBag.Title = "About Us";
}
<div id="pad" class="row">
    <div class="col-md-1">
        <img src="~/Content/images/Studyplan.png" width="350" height="150" />
    </div>
    <div class="col-md-6 col-md-offset-2" style="color :forestgreen">
        <h2>@ViewBag.Title</h2>
        <hr/>
        <p><i>
    All new graduate students are required to submit a study plan within two months after their course commences at Stevens Institute of Technology.
    A lot of students find this task a real head-scratcher.
    The Study-Plan Guide application will help the graduate students by providing them with a preliminary plan based on their inputs.
      </i> </p>
      </div>
   </div>