@{
    ViewBag.Title = "Contact Us";
}
<div id="pad" class="row">
    <div class="col-md-1">
        <img src="~/Content/images/Studyplan.png" width="350" height="150" />
    </div>
    <div class="col-md-6 col-md-offset-2" style="color :forestgreen">

        <h2>@ViewBag.Title</h2>
        <address>
            1 Castle Point Terrace,<br />
            Hoboken, NJ 07030<br />
            <abbr title="Phone">P:</abbr>
            201.216.5000
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@studyplan.com">Support@studyplan.com</a><br />
        </address>

        </div>
</div>