body {
    padding-top: 50px;
    padding-bottom: 20px;
    font:15px Calibri,verdana;
   
}

#design {
    padding-top : 100px;
}

#pad{
    padding-top: 75px;
}
#Leftpad{
    padding-left: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: darkgreen;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

dd{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;

}

dt {
    display: block;
    margin-left: 0;
    margin-right: 0;
}


.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
